*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background: orangered;
    width: 200px;
    height: 200px ;
    margin: 0 auto ;
    margin-top: 40px;

  /*   border: 10px dashed brown;*/

    /* border-width: top right bottom left;*/
    border-style: dashed;
    border-color: brown;

    border-top-color: cyan;
}
.card{
    margin: 20px auto;
    width: 400px;
    border: 1px solid black;
    padding: 20px 0;
}
.img{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 50%;

}
.name{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}
.cta{
    display: block;
    width: 200px;
    background: crimson;
    border-radius: 3px;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 30px auto;
}