*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fafafa;
}
.img{
    display: block;
    width: 400px;
    margin: 30px auto;  
    /*box-shadow: 8px 8px 12px rgba(6, 29, 238, 0.5);*/
    box-shadow: 6px 6px 10px -14px rgba(0,0,0, .75);
}
.box{
    width: 100px;
    color: darkgoldenrod;
    height: 100px;
    margin: 30px;
    background: rgb(22, 50, 73);
    /*box-shadow: h-offset v-offset blur spread color;*/
   /* box-shadow:100px 100px 0 0 crimson, 100px 0 darkgreen, 0 100px darkgoldenrod;*/
   box-shadow: 5px 5px 10px 2px crimson;
}

