*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
.enlaces{
    display: block;
    text-decoration: none;
    background: crimson;
    color: white;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}*/

header{
 height: 400px;
 background: #5E7869;
 color:white ;

}
